* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkslategray;
}

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
}


.logo {
    background-color: transparent;
    cursor: pointer;
    width: 18%;
    padding: 1%;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

button {
    padding: 9px 25px;
    color: whitesmoke;
    background-color: rgb(116, 118, 119, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(116,118,119, .5);
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2%;
}

img {
    max-width: 20%;
}

.heroIMG {
    display: inline-block;
    vertical-align: middle;
    color: whitesmoke;
    justify-content:center;
    align-items: center;
    padding: 50px 50px 50px 50px;
    text-align: center;
    font-size: 150%;
}

p {
    padding: 40px;
}

.jqButtonMySkills {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.jqButtonMyWork {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}



/* .mySkills {
    display: flex;
    /* justify-content: center; */
    /* align-items: center;
} */

.skillOne {
    grid-area: skillOne;
}
.skillTwo {
    grid-area: skillTwo;
}
.skillThree {
    grid-area: skillThree;
}
.skillFour {
    grid-area: skillFour;
}

.uxSkills {
    grid-area: uxSkills;
}

/* .imgOne {
    max-width: none;
    grid-area: imgOne;
} */

.flexContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% auto 20% auto 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                'imgOne skillOne ....... skillTwo .......'
                '....... ....... uxSkills ....... .......'
                '....... skillThree ....... skillFour .......';
}

.flexContainer {
    font-size: 150%;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    /* justify-content: center;  */
    /* align-items: center; */
    text-align: center;
}

.workOne {
    grid-area: workOne;
    padding-bottom: 50px;
}

.workTwo {
    grid-area: workTwo;
}

.myWorkHeader {
    grid-area: myWorkHeader;
    padding-bottom: 2%;
}
.workGrid {
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
        'myWorkHeader'
        'workOne'
        'workTwo';
}

.workGrid {
    font-size: 150%;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.viewAll {
    font-size: 200%;
    text-align: center;
    padding-top: 2%;
}

@media only screen and (max-width: 600px) {
    .flexContainer{
    
    display: grid;
    grid-gap: 1em;
    grid-template-columns: auto;
    grid-template-areas:
        "uxSkills"
        "skillOne"
        "skill Two"
        "skillThree"
        "skillFour"
    ;
}
}